<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toe.shareyourcuisine" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:name=".SycApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.API_KEY"
            android:value="AIzaSyATMzIiSG-Ctvzb9pPeYTdroug1K7nxPmc" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <activity android:name=".activity.LoadActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"></action>
                    <category android:name="android.intent.category.DEFAULT"></category>
                    <category android:name="android.intent.category.BROWSABLE"></category>
                    <data android:host="main" android:scheme="syc"></data>
                </intent-filter>
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearchableActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="Share Your Cuisine" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="Login" >
        </activity>
        <activity
            android:name=".activity.SignUpActivity"
            android:label="Sign Up" >
        </activity>
        <activity
            android:name=".activity.MenuActivity"
            android:label="Menu">
            <meta-data android:name="android.app.default_searchable"
                android:value=".activity.SearchableActivity"/>
        </activity>
        <activity
            android:name=".activity.PostActivity"
            android:label="Post" >
        </activity>
        <activity
            android:name=".activity.ActivityActivity"
            android:label="Activity" >
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:label="Profile">
        </activity>
        <activity
            android:name=".activity.AddMenuActivity"
            android:label="NewMenuActivity" >
        </activity>
        <activity
            android:name=".activity.AddPostActivity"
            android:label="NewPostActivity" >
        </activity>
        <activity
            android:name=".activity.SinglePostActivity"
            android:label="@string/title_activity_single_post">
        </activity>
        <activity
            android:name=".activity.AddActivityActivity"
            android:label="NewActivityActivity">
        </activity>
        <activity
            android:name=".activity.SingleActivityActivity"
            android:label="SingleActivityActivity">
        </activity>
        <activity
            android:name=".activity.SingleMenuActivity"
            android:label="SingleMenuActivity">
        </activity>
        <activity
            android:name=".activity.ActivityJoinedActivity"
            android:label="ActivityJoinedActivity">
        </activity>
        <provider android:authorities="com.facebook.app.FacebookContentProvider1048336895196616"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
    </application>

</manifest>
